<nav class="navbar navbar-expand-lg bg-light"  style="background-color: black">
    <div class="container-fluid">
      <a class="navbar-brand" href="/#/deliverer-home/{{email}}">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/#/deliverer-home/{{email}}/myprofile">MY PROFILE</a>
          <a class="nav-link" href="/#/deliverer-home/{{email}}/orders">ORDERS</a>
          <a class="nav-link" href="/#/deliverer-home/{{email}}/currentOrder">MY CURRENT ORDER</a>
          <a class="nav-link" href="/#/deliverer-home/{{email}}/previousOrders">MY PREVIOUS ORDERS</a>
        </div>
      </div>
    </div>
</nav>
<div style="background-color: white;margin: 30px;">
    <div [hidden]="orders.length !== 0">
        <p>There is no previous orders currently</p>
    </div>

    <div [hidden]="orders.length === 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders">
                    <td>{{item.id}}</td>
                    <td>{{item.price}} RSD</td>
                    <td >{{item.status}}</td>
                    <td>
                        <button class="btn btn-success" style="background-color: slategrey;" data-toggle="modal" data-target="#order" (click)="Details(item)">Details</button>
                    </td>            
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--MODAL FOR PREVIOUS ORDER DETAILS-->
<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="order" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentEdit">Order details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <form class="form">
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">Order ID</label>
                    <div class="col-sm-8">
                        {{orderDetails.id}}
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">PRICE</label>
                    <div class="col-sm-8">
                        {{orderDetails.price}}
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">STATUS</label>
                    <div class="col-sm-8">
                        {{orderDetails.status}}
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">ADDRESS</label>
                    <div class="col-sm-8">
                        {{orderDetails.address}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-4 col-form-label">COMMENT</label>
                    <div class="col-sm-8">
                        {{orderDetails.comment}}
                    </div>
                </div>            
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
</div>
