<div class="content" role="main">
  <h3 style="color: white;">Welcome back!</h3>
  <div class="card-container">
    <a class="card" href="/admin-home/{{email}}/myprofile">
      <svg class="material-icons" width="24" height="24"></svg>
      <span>MY PROFILE</span>
      <svg class="material-icons" width="24" height="24" ><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" href="/admin-home/{{email}}/deliverers">
      <svg class="material-icons" width="24" height="24"></svg>
      <span>DELIVERERS</span>
      <svg class="material-icons" width="24" height="24" ><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" href="/admin-home/{{email}}/products">
      <svg class="material-icons" width="24" height="24"></svg>
      <span>PRODUCTS</span>
      <svg class="material-icons" width="24" height="24" ><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
</div>